<div>
    <div class="row">
        <div>
            <h1>Process Result</h1>
            <!--display error if any-->
            <div th:if="${!status}">
                <strong>Error:</strong>
                <span th:text="${message}"></span>
            </div>

            <!--display users list-->
            <table th:if="${status}">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Employee ID</th>
                    <th scope="col">Second Employee ID</th>
                    <th scope="col">Project ID</th>
                    <th scope="col">Months worked together</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pairExperience, i : ${pairExperiences}">
                    <th scope="row" th:text="${i.index + 1}"></th>
                    <td th:text="${pairExperience.firstEmployeeId}"></td>
                    <td th:text="${pairExperience.secondEmployeeId}"></td>
                    <td th:text="${pairExperience.projectId}"></td>
                    <td th:text="${pairExperience.overlappingMonths}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
